.desktop-menu {
  display: flex;
  gap: 10px;
}

/* tablet + mobile */
@media (max-width: 900px) {
  .desktop-menu {
    display: none;
  }
}

/* desktop only */
@media (min-width: 900px) {
  .mobile-menu {
    display: none;
  }
}